.wrapper {
    padding-top: rem(50px);
    padding-bottom: rem(50px);
}

.item {
    display: flex;
}

.itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
}

.itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.itemDescription {
    max-width: 400px;
    color: #C0C0C0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.supTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-blue-light-color);
    letter-spacing: rem(0.5px);
}

.title {
    color: white;
    font-size: rem(36px);
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(24px);
    }
}


.highlight {
    color: #66ff00;
}