.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  max-width: rem(580px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  /* color: light-dark(var(--mantine-color-black), var(--mantine-color-white)); */

  background: #47FF0E;
  background: linear-gradient(to left, #47FF0E 0%, #FFFFFF 50%, #47FF0E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* background: linear-gradient(2deg, #47FF0E 0%, #FFFFFF 54%, #47FF0E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

/* background: linear-gradient(85deg, #FFFFFF 0%, #47FF0E 50%, #FFFFFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  color: white;
  background-color: black;
  border: 2px solid #45FF0F;
  border-radius: 8px;
}

.control:hover {
  color: black;
  background-color: #45FF0F;
  border: 2px solid whitesmoke;
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(350px);
  height: rem(356px);

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}