.wrapper {
    position: relative;
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding-top: rem(80px);
      padding-bottom: rem(60px);
    }
  }
  
  .inner {
    position: relative;
    z-index: 1;
  }
  
  
  .title {
    text-align: center;
    font-weight: 800;
    font-size: rem(40px);
    letter-spacing: -1px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    margin-bottom: var(--mantine-spacing-xs);
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(28px);
      text-align: left;
    }
  }
  
  .highlight {
    /* color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
     */
     color: #5BFF04;
  }
  
  .description {
    margin: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(173, 179, 200);
    background: linear-gradient(180deg, rgba(173, 179, 200, 1) 20%, rgba(206, 208, 226, 1) 80%);
    -webkit-background-clip: text;
  
    @media (max-width: $mantine-breakpoint-xs) {
      text-align: left;
      font-size: var(--mantine-font-size-md);
    }
  }
  
  .controls {
    margin-top: var(--mantine-spacing-lg);
    display: flex;
    justify-content: center;
    
    @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
    }
  }
  
  .control {
    border: 2px solid #5BFF04;
    color: #5BFF04;
    letter-spacing: 1px;
    background-color: black;
    &:not(:first-of-type) {
      margin-left: var(--mantine-spacing-md);
    }
  
    @media (max-width: $mantine-breakpoint-xs) {
      height: rem(42px);
      font-size: var(--mantine-font-size-md);
  
      &:not(:first-of-type) {
        margin-top: var(--mantine-spacing-md);
        margin-left: 0;
      }
    }
  }
  .controls :hover {
    color: #5BFF04;
   background-color: #28282B;
  }

  