.inner {

  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    justify-content: center;
    align-items: center;    
  padding-top: 20px;
  padding-bottom:20px;
  }
}

.content {
  padding-top: 10px;
  max-width: rem(600px);
  margin-left: 150px;

  @media (max-width: $mantine-breakpoint-md) {
    padding: 5px;
    margin-left: 0px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    font-size: var(--mantine-font-size-md);
  }
}

.title {

  color: white;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  color: black;
  background-color: #66ff00;
  letter-spacing: 1px;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;

  }
}

.control1 {
  letter-spacing: 1px;

  @media (max-width: $mantine-breakpoint-xs) {
   width: 100%;
  }
}

.image {
  margin-top: 40px;
  width: rem(550px);
  height: rem(300px);
  margin-right: 100px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}