.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 80px;

  @media (max-width: $mantine-breakpoint-sm) {
    margin: 0;
    padding: 10px;
  }
}


.Card {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 6px solid #ADFF2F;
  border-radius: 1rem;
  background-color: #28282B;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  transition: all 0.3s ease;
}

.Card:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.questionmark {
  color: #ADFF2F;
  font-size: 3rem;

}

.Title {
  color: #ADFF2F;
  font-size: 4rem;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(38px);
    font-weight: 500;
    text-align: start;
  }
}

.Descript {
  color: #E5E4E2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-md);
    text-align: start;
  }
}