.root {
    background-color: #fff;
}

.mainContainer {
    /* padding-left: 50px;
    padding-right: 25px; */
    padding: 50px 80px;
    background-color: #2E2E2E;

    @media Screen and (max-width: 768px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.title {
    font-size: 26px;
    padding: 12px 2px;
    color: #fff;
}
.head{
    font-size: 22px;
    color: #fff;
}

.para {
    font-size: 15px;
    color: #c9c9c9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}