.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 5);
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  min-height: rem(550px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: 20px;
    padding-bottom: 20px;

  }
}

.title {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  font-size: rem(36px);
  color: white;
  text-align: center;

  &::after {
    content: ' ';

    display: block;
    background-color: #ADFF2F;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mantine-breakpoint-sm) {
      display: none;
    }
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(26px);
    text-align: start;
  }
}

.item {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: var(--mantine-radius-lg);
  margin-bottom: var(--mantine-spacing-lg);
  border: rem(3px) solid #413c3c;
 
}

.item:hover {

  border: rem(3px) solid #ADFF2F;
}