.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    min-height: rem(550px);
    
  }
  
  .title {
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
    color: white;
    &::after {
      content: ' ';
  
      display: block;
      background-color: #66FF00;
      width: rem(45px);
      height: rem(2px);
      margin-top: var(--mantine-spacing-sm);
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: var(--mantine-radius-lg);
    margin-bottom: var(--mantine-spacing-lg);
    border: rem(5px) solid #413c3c;
  }
  
  .item:hover {
    
    border: rem(2px) solid #66FF00;
  }