.title {
  font-size: rem(36px);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
  }
}

.description {
  max-width: rem(800px);
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #C0C0C0;


  &::after {
    content: '';
    display: block;
    background-color: #24C41C;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  position: relative;
  color: black;
  font-weight: bold;
  background-color: #28282B;

  box-sizing: border-box;
  box-shadow: 12px 17px 51px rgba(119, 107, 107, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;

}

.card:hover {
  border: rem(2px) solid #24C41C;
  /* transform: translateY(-10px); */
  /* border: 1px solid black; */
  transform: scale(1.09);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.cardTitle {
  color: white;

  &::after {
    content: ' ';

    display: block;
    background-color: #24C41C;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.cardDescription {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #C0C0C0;

}