.title {
  font-size: rem(34px);
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
  }
}

.description {
  max-width: rem(800px);
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(173, 179, 200);
  background: linear-gradient(180deg, rgba(173, 179, 200, 1) 20%, rgba(206, 208, 226, 1) 80%);
  -webkit-background-clip: text;


  &::after {
    content: '';
    display: block;
    background-color: #4ECA3E;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  position: relative;
  color: black;
  font-weight: bold;
  background-color: #28282B;
  border: rem(2px) solid #66FF00;

  box-sizing: border-box;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;

}

.card:hover {
  /* transform: translateY(-10px); */
  border: 1px solid black;
  transform: scale(1.09);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.cardTitle {
  color: white;

  &::after {
    content: ' ';

    display: block;
    background-color: #4ECA3E;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.cardDescription {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(173, 179, 200);
  background: linear-gradient(180deg, rgba(173, 179, 200, 1) 20%, rgba(206, 208, 226, 1) 80%);
  -webkit-background-clip: text;
}