.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.content {
  max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: white;
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: 900;


  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(30px);
  }
}

.subtitle {

  color: #ADFF2F;
  text-wrap: wrap;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(26px);
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-md) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {

  height: rem(50px);
  padding-left: rem(38px);
  padding-right: rem(38px);
  color: #ADFF2F;
  border-color: #ADFF2F;
  letter-spacing: 1px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(45px);
    padding-left: rem(18px);
    padding-right: rem(18px);
    flex: 1;
  }
}

.controlfirst {
  height: rem(50px);
  padding-left: rem(38px);
  padding-right: rem(38px);
  color: #262525;
  background-color: #ADFF2F;
  letter-spacing: 1px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(45px);
    padding-left: rem(18px);
    padding-right: rem(18px);
    flex: 1;
  }
}



.image {
  width: rem(600px);
  height: rem(600px);
  margin-left: 60px;
  margin-top: -75px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  font-weight: 100;
}

.List {
  color: white;
  letter-spacing: 1px;
}

.description {
  color: white;
  letter-spacing: 1px;
}

.Menu {
  width: 50%;
}