.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);

}

.content {
  max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: 900;
 

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(30px);
  }
}

.subtitle {

  color: #4ECA3E;

}

.controls {
  margin-top: calc(var(--mantine-spacing-md) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: rem(50px);
  padding-left: rem(38px);
  padding-right: rem(38px);
 color: #90CDB7;
 border-color: #90CDB7;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(54px);
    padding-left: rem(18px);
    padding-right: rem(18px);
    flex: 1;
  }
}


.image {
  width: rem(400px);
  height: rem(400px);
  margin-top: 40px;
  

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  font-weight: 100;
}

.List{
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box{
  background-color: ;
}