.Carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 45px;
  margin: 0 30px;

  @media (max-width: $mantine-breakpoint-md) {
    margin: 0;
    padding: 0;
  }
}

.cardsquare {
  position: relative;
  overflow: visible;
  padding: 10px;
  padding-top: 30px;
  padding-right: 50px;
  background-color: #28282B;
  color: white;
  height: 250px;
  width: 380px;
  border: rem(2px) solid #413c3c; 

}

.cardsquare:hover {
  border: rem(2px) solid #ADFF2F;
}

.icon {
  position: absolute;
  top: rem(-20px);
  left: calc(95% - rem(30px));
  background-color: black;
  border: 1px solid #ADFF2F;

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.name {
  color: #ADFF2F;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.1;
}

.review {
  padding-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  
}

.icon1 {
  background-color: #ADFF2F;
  left: calc(70% - rem(30px));
}

.indicator {
  width: rem(12px);
  height: rem(4px);
  transition: width 250ms ease;
  background-color: #ADFF2F;

  &[data-active] {
    width: rem(40px);
  }

}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 50px;
    justify-content: start;
  }
}

.Title {
  color: white;
  font-size: rem(36px);
  margin-bottom: 25px;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 10px;
    font-size: rem(26px);
    text-align: start;
    margin-bottom: -30px;
  }
}