.wrapper {
    padding-top: rem(50px);
    padding-bottom: rem(190px);
}

.item {
    display: flex;
}

.itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
}

.itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.itemDescription {
    max-width: 500px;
    color: #D6D6E2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.supTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-blue-light-color);
    letter-spacing: rem(0.5px);
}

.title {
    color: white;
    font-size: rem(43px);
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(24px);
    }
}

.description {
    text-align: center;
    margin-top: var(--mantine-spacing-xs);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(173, 179, 200);
    background: linear-gradient(180deg, rgba(173, 179, 200, 1) 20%, rgba(206, 208, 226, 1) 80%);
    -webkit-background-clip: text;


}



.highlight {
    color: #66ff00;
}