.navbar {
  width: rem(80px);
  height: rem(760px);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 2px solid #ADFF2F;
  border-top: 2px solid #ADFF2F;
  background-color: black;
}

.navbarMain {
  flex: 1;
  margin-top: rem(50px);
}

.link {
  width: rem(50px);
  height: rem(50px);
  margin-bottom: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ADFF2F;

  &:hover {
    color: black;
    background-color: #ADFF2F;
  }

  &[data-active] {

    &,
    &:hover {
      background-color: #ADFF2F;
      color: black;
    }
  }
}
.linklogout {
  width: rem(50px);
  height: rem(50px);
  margin-bottom: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  background-color: #28282B;

  &:hover {
    color: white;
    background-color: #ff0000;
  }

  &[data-active] {

    &,
    &:hover {
      background-color: #ADFF2F;
      color: black;
    }
  }
}