.navbar {
    width: rem(80px);
    height: rem(760px);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    border-top: 2px solid black;

    background-image: linear-gradient(to right, #868f96 0%, #868f96 100%);
  }
  
  .navbarMain {
    flex: 1;
    margin-top: rem(50px);
  }
  
  .link {
    width: rem(50px);
    height: rem(50px);
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  
    &:hover {
      color: white;
      background-color: black ;
    }
  
    &[data-active] {
      &,
      &:hover {
        background-color: black;
        color:white;
      }
    }
  }