.header {
  height: rem(80px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background-color: black;
  /* background-image: linear-gradient(147deg, black 79%, white 0%); */
  border-bottom: 2px solid #ADFF2F;
}


.inner {
  height: rem(80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Image {
  height: 80px;
  width: 100px;
}
.spotlightList {
  color: #ADFF2F;
  background-color: black;
}
