.wrapper {

  padding-top: var(--mantine-spacing-md);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.header {
  height: rem(400px);
  padding-top: var(--mantine-spacing-md);
  background-color: #66ff00;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  padding: calc(var(--mantine-spacing-xl) * 1.5) calc(var(--mantine-spacing-xl) * 2);
  border-radius: var(--mantine-radius-lg);
  margin-bottom:80px;

  @media (max-width: em(1080px)) {
    height: auto;
    flex-direction: column-reverse;
    align-items: initial;
    padding: var(--mantine-spacing-xl);
  }
}
.Title{
  color: white;
  position: relative;
  z-index: 1;
  font-size: rem(76px);
  font-weight: 800;
  letter-spacing: rem(-0.5px);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  

  @media (max-width: em(1080px)) {
    font-size: rem(22px);
    text-align: center;
    margin-top: var(--mantine-spacing-xl);
  }

}

.title {
  color: #66ff00;
  position: relative;
  z-index: 1;
  font-size: rem(56px);
  font-weight: 800;
  letter-spacing: rem(-0.5px);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  margin-bottom: 20px;
 

  @media (max-width: em(1080px)) {
    font-size: rem(22px);
    text-align: center;
    margin-top: var(--mantine-spacing-xl);
  }
}



.contact {
 padding-left: 200px;

  align-self: center;

  @media (max-width: em(1080px)) {
    padding: var(--mantine-spacing-xl);
  }
}

.image {
  height: 400px;
  width: 400px;
}

.categoryCard {
  height: rem(160px);
  width: 90%;
  position: relative;
  background-size: 100%;
  background-position: center;
  color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-xl);
  overflow: hidden;
  transition: background-size 300ms ease;

  @mixin hover {
    background-size: 105%;
    transition: background-size 300ms ease;
    transform: scale(1.15);
  
  }
}

.categoryLabel {
  color: var(--mantine-color-white);
  z-index: 2;
  position: relative;
}
.item {
    border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: rem(1px) solid #66ff00;
}

.activeFaq{
  border: 2px solid #66ff00;
  transform: scale(1.05);
  transition-duration: 0.3s;
}