.Paper {
	background-color: #262525;
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(0px);
	border-radius: 10px;
	border-left: 5px solid #ADFF2F;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	color: white;

}

.title {
	color: #ADFF2F;
	margin-bottom: 10px;
	font-weight: 600;
	text-align: center;
	font-size: 40px;
}

.text {
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
}




.image {
	height: 600px;

	@media (max-width: $mantine-breakpoint-xs) {
		max-width: 100%;
	}

	@media (max-width: $mantine-breakpoint-sm) {
		max-width: 100%;
	}

	@media (max-width: $mantine-breakpoint-md) {
		display: none;
	}
}

.control {

	border-color: #ADFF2F;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 32px;
	gap: 15px;
	background-color: #ADFF2F;
	outline: 3px #ADFF2F solid;
	outline-offset: -3px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 400ms;
}

.button .p {
	position: relative;

	text-align: center;
	color: black;
	font-weight: 600;
	font-size: 14px;
	transition: 400ms;
}



.button:hover {
	background-color: transparent;
	color: #ADFF2F;
}

.button:hover .p {
	color: #ADFF2F;
}



.Button {
	position: relative;
	width: 50%;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid #ADFF2F;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	background: transparent;
	color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
	overflow: hidden;
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.Button:hover {
	background: #ADFF2F;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.Button:hover::before {
	-webkit-animation: sh02 0.5s 0s linear;
	-moz-animation: sh02 0.5s 0s linear;
	animation: sh02 0.5s 0s linear;
}

.Button::before {
	content: '';
	display: block;
	width: 0px;
	height: 86%;
	position: absolute;
	top: 7%;
	left: 0%;
	opacity: 0;
	background: #fff;
	box-shadow: 0 0 30px 10px #fff;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

@keyframes sh02 {
	from {
		opacity: 0;
		left: 0%;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
		left: 100%;
	}
}

.Button:active {
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: box-shadow 0.2s ease-in;
	-moz-transition: box-shadow 0.2s ease-in;
	transition: box-shadow 0.2s ease-in;
}

.file {
	margin-top: 10px;
	font-size: 15px;
}