.card {
  width: 100%;
  align-items: center;
  justify-content: center;
background-color: black;

  @media screen and (max-width) {
    width: 100%;

  }
}

.table {
  width: 1000px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width) {
    width: 100%;

  }
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  transition: box-shadow 150ms ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
  }
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}