.title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    color: black;
  }
  .Button{
    color: white;
    background-color: black;
  }
  .Container{
    background-image: linear-gradient(to right, #868f96 0%, #868f96 100%);
    width: 100%;
    height: 90vh;
    padding: 10px;
  }
 .control{
  margin-top: 10px;
    letter-spacing: 1px;
    padding: 10px;
  }
 .paper{
  color: black;
 }