.title {
 
  font-weight: 900;
  color: #66ff00;
}

.Button {
  color: white;
  background-color: black;
}

.Container {
  height: 90vh;
  padding: 10px;
}

.control {
  margin-top: 10px;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #66ff00;
  color: black;
}

.control:hover {
  background-color: #66ff00;
  color: black;
}

.paper {
  height: 80vh;
  border-left: 3px solid #66ff00;
  backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(0px);
  color: white;
}