.title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    color: white;
  }
  .Button{
    color: white;
    background-color: black;
  }
  .Container{

    height: 90vh;
    padding: 10px;
  }
 .control{
  margin-top: 10px;
    letter-spacing: 1px;
    padding: 10px;
  }
 .paper{
  background-color: black;
  color: white;
 }