.wrapper1 {
  position: relative;
  padding-top: rem(150px);
  padding-bottom: rem(150px);
  border-bottom: 1px solid white;
  /* background-image: url(https://media.istockphoto.com/id/1419766496/photo/abstract-concepts-of-cybersecurity-technology-and-digital-data-protection-protect-internet.jpg?s=612x612&w=0&k=20&c=3GM-GKO4wrU1wj03fE21cQXSVhvGBF8AO-9lOLpiaq8=); */
  background-position: center;
  background-size: Cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    border: none;
   padding-top: 30px;
   padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}

.title1 {
  font-weight: 800;
  font-size: rem(50px);
  letter-spacing: rem(-1px);
  color: white;
  margin-bottom: 25px;

  text-align: center;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    
  }
}

.wrapper {
  background-color: black;
  position: relative;
  padding-top: rem(80px);
  padding-bottom: rem(100px);
   /* background-image: url(https://media.istockphoto.com/id/1419766496/photo/abstract-concepts-of-cybersecurity-technology-and-digital-data-protection-protect-internet.jpg?s=612x612&w=0&k=20&c=3GM-GKO4wrU1wj03fE21cQXSVhvGBF8AO-9lOLpiaq8=);  */
 background-position: center;
  background-size: Cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
  } 
}


.inner {
  justify-content: center;
  align-items: center;
  text-align: center;
  
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: rem(50px);
  letter-spacing: rem(-1px);
  color: white;
  margin-bottom: 25px;
  text-align: center;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

/* 
.highlight {
  color: var(--mantine-color-primary-4);
} */

.description {
  color: var(--mantine-color-gray-0);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: var(--mantine-font-size-xl);


  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
    text-align: left;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.control {
  height: rem(50px);

  color: #262525;
  border: 2px solid #66ff00;
  border-color: #39FF14;
  background-color: #39FF14;

  font-size: var(--mantine-font-size-md);
  text-wrap: wrap;
  height: 50px;

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);

  @mixin hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}
