.responsiveContainer {
	max-width: rem(300px);

	@media (min-width: em(900px)) {
		max-width: rem(900px);
	}

	@media (min-width: em(600px)) {
		max-width: rem(600px);
	}

	@media (max-width: $mantine-breakpoint-md) {
		height: auto;
		width: auto;



	}

}

.body {
	padding-right: calc(var(--mantine-spacing-xl) * 4);

	@media (max-width: $mantine-breakpoint-sm) {
		padding-right: 0;
		margin-top: var(--mantine-spacing-xl);

	}
}

.wrapper {
	display: flex;
	align-items: center;
	padding: calc(var(--mantine-spacing-xl) * 2);
	border-radius: var(--mantine-radius-md);
	background-color: black;

	@media (max-width: $mantine-breakpoint-sm) {
		flex-direction: column-reverse;
		padding: var(--mantine-spacing-xl);

	}
}

.Paper {
	/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(0px);
	border-radius: 10px;
	background-color: #262525;
	border-left: 5px solid #ADFF2F;
	color: white;


}

.title {
	font-weight: 600;
	text-align: center;
	font-size: 25px;
}



.Button {
	position: relative;
	width: 50%;
	padding: 10px 20px;
	border-radius: 7px;
	border: 1px solid #ADFF2F;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	background: transparent;
	overflow: hidden;
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.Button:hover {
	background: #ADFF2F;
	color: black;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.Button:hover::before {
	-webkit-animation: sh02 0.5s 0s linear;
	-moz-animation: sh02 0.5s 0s linear;
	animation: sh02 0.5s 0s linear;
}

.Button::before {
	content: '';
	display: block;
	width: 0px;
	height: 86%;
	position: absolute;
	top: 7%;
	left: 0%;
	opacity: 0;
	background: #fff;
	box-shadow: 0 0 30px 10px #fff;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

@keyframes sh02 {
	from {
		opacity: 0;
		left: 0%;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
		left: 100%;
	}
}

.Button:active {
	box-shadow: 0 0 0 0 transparent;
	-webkit-transition: box-shadow 0.2s ease-in;
	-moz-transition: box-shadow 0.2s ease-in;
	transition: box-shadow 0.2s ease-in;
}

.image {
	max-width: 50%;
	height: 600px;

	@media (max-width: $mantine-breakpoint-xs) {
		max-width: 100%;
	}

	@media (max-width: $mantine-breakpoint-sm) {
		max-width: 100%;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 32px;
	gap: 15px;
	background-color: #ADFF2F;
	outline: 3px #ADFF2F solid;
	outline-offset: -3px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 400ms;
}

.button .p {
	position: relative;
	text-align: center;
	color: black;
	font-weight: 600;
	font-size: 16px;
	transition: 400ms;
}



.button:hover {
	background-color: transparent;
	color: #ADFF2F;
}

.button:hover .p {
	color: #ADFF2F;
}

.button:hover svg path {
	fill: rgb(61, 106, 255);
}

.subtitle {
	font-size: 35px;
	color: #ADFF2F;
}