.responsiveContainer {
  max-width: rem(300px);

  @media (min-width: em(400px)) {
    max-width: rem(400px);
  }

  @media (min-width: em(600px)) {
    max-width: rem(600px);
  }

}

.Paper {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  
}
.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 1000;
  text-align: center;
}
.text{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}