.mainContainer {
    padding: 20px 50px;
    background-color: #2E2E2E;

    @media Screen and (max-width: 768px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.title {
    padding: 12px 2px;
    color: #fff;
}

.para {
    font-size: 15px;
    color: #c9c9c9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subPara {
    font-size: 15px;
    color: #c9c9c9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.steps{
    color: #4DABF7;
}

.subSteps{
    font-weight: 500;
    color: white;
}

.image{
    border: 2px solid gray;
}