.wrapper {
    display: flex;
    align-items: center;
    color: var(--mantine-color-white);
  }
  
  .icon {
    margin-right: var(--mantine-spacing-md);
    background-color: transparent;
  }
  
  .title {
    font-weight: bold;
    color: black;
  }
  
  .description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
  }