.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: 2px 80px;
  padding: 30px;
  background-color: black;
  border-top: 2px solid white;

  @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding: 4px 8px;
  }
}


.colms1 {
  margin: 10px;
  padding: 10px;
  width: 40%;

  @media (max-width: 768px) {
      width: 100%;
  }
}

.colms0 {
  width: 25%;
  padding: 10px;
  padding-left: 80px;

  @media (min-width: 375px) and (max-width: 667px) {
      width: 100%;
      padding: 10px;
      border-top: 1px solid white;

  }
}

.colms {
  width: 25%;
  padding: 10px;
  padding-left: 30px;


  @media (min-width: 375px) and (max-width: 667px) {
      width: 100%;
      padding: 10px;
      border-top: 1px solid white;

  }
}

.colms2 {
  margin: 10px;
  width: 25%;
  padding: 10px;
  margin-top: 50px;

  @media (min-width: 375px) and (max-width: 667px) {
      width: 100%;
      padding: 10px;
      border-top: 1px solid white;
  }
}

.colmscontact {
  margin: 10px;
  width: 25%;
  padding: 10px;

  @media (min-width: 375px) and (max-width: 667px) {
      width: 100%;
      padding: 10px;
      border-top: 1px solid white;
  }

}


.afterFooter {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-top: rem(1px) solid white;

  @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      padding-top: -10px;

  }
}

.afterFootertitle {
  margin-top: 10px;
  font-size: 12px;
  @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 5px;
      font-size: 13px;
      margin: 0;

  }
}

